
.appointment{
    color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3532d1;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;

    button{
        background-color: #dd2c2c;
        color: #ffffff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: background-color 0.3s;

        &:hover{
            background-color: #e25340;
        }
        &:active{
            background-color: #f75e38;
        }
    }
    
}