/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #56a5f0;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 10px;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

nav .menu-icon {
  margin-left: 20rem;
}
nav  a {
  margin-right: 3rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;

}

nav img{
  width: 100px;
  height: auto;
  margin-right: 30rem;

}

nav a:hover {
  color: #8f8c8c;
}

nav button {
  background-color: #268be9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #1e70e3;
}

nav button:focus {
  outline: none;
  background-color: #91b4e6;
}

.hero {
  color: #fff;
  height: 600px;
}

.hero img{
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 600px;
}

.hero .hero-text {
  padding: 50px;
  font-size: 50px;
} 
.hero button {
  background-color: #268be9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
} 

.hero button:hover {
  background-color: #1e70e3;
}

.hero button:focus {
  outline: none;
  background-color: #91b4e6;
}

.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-wrapper h1 {
  text-align: center;
  margin-bottom: 5rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info {
  width: 200px;
  min-height: 200px;
  background-color: white;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 1rem;
  border: 1px solid #757272;
}

.work-section-info:hover {
  background-color: #cde5fc;
  border: none;
  cursor: pointer;
}

.why-you-choose-us {
  margin-top: 15rem;
  padding: 5rem;
  display: flex;

}

.why-you-choose-us img {
  width: 500px;
  height: 350px;
  border-radius: 1rem;
  margin-right: 5rem;
}

.why-you-choose-us-text {
  flex-direction: column;
  display: flex;
}

.why-you-choose-us-text img {
  width: 30px;
  height: auto;
  margin-right: 1rem;
}

.why-you-choose-us-info {
  margin-top: 1rem;
  display: flex;
}

.learn-more {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.learn-more a {
  text-decoration: none;
  color: #4499e9;
  display: flex;

}

.learn-more img {
  width: 30px;
  height: auto;
  margin-left: 1rem;
}

.learn-more a p:hover {
  color: #1e70e3;
}




.about{
  padding: 300px 0;
  margin-top: 15rem;
}

.about img{
  z-index: -2;
  width: 100%;
  height: 600px;
}

.about{
  padding-top: 15rem;
  padding: 5rem;
  background-color: #d0e9ff;
}

.about-text{
  text-align: center;
  margin-bottom: 5rem;
}

.about-image{
  display: flex;
  justify-content:space-between;
  
}

.about-image-doctor{
  text-align: center;
  color: rgb(15, 15, 15);
  text-size-adjust: 1.5rem;
  
}

.about-image-doctor button{
  border-radius: 1rem;
  border: none;
  background-color: #268be9;
  color: #fff;
}

.about-image-doctor button:hover{
  background-color: #1e70e3;
  cursor: pointer;
}


.about-image-doctor img{
  width: 300px;
  height: 410px;
  border-radius: 1rem;
  border: 300px 350px solid #000000;
  
}



.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 15rem;
}
.footer-logo-container img{
  width: 110px;
 
}
.footer-icons {
  margin-top: 2.5rem;
  font-size: 0.5rem;
  margin-right: 0.25rem;
}

.footer-icons img{
  width: 70px;
}



/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

.footer-section-three{
  text-align: center;
  margin-top: 2rem;
}

.footer-section-three p{
  font-weight: 700;
  color: #515151;
  padding: 20px;
}